// Colors
$lightgray: #bbb;
$darkgray: #666;
$gray: #999;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

$link_glow: #001fff;
$damage-color: #ff9c9c;

$main-bg: #010e38;
$main-fg: #dadada;
$header-bg: #9f9dfc;
$header-bg-alt: #7877c4;
$header-fg: #080808;
$playbook-bg: #14151a;
$playbook-fg: #dadada;

$hover-highlight: red;

$input-bg: rgba(255,255,255,0.1);
$placeholder-fg: #b4937d;
$table-lines: rgba(255,255,255,0.1);

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;