@use 'mixin';
@use 'color';

.synths-in-the-shadow {

  .clock-block {
    .clock-header {
      display: flex;
      flex-direction: row;
      align-content: center;
    }
    .clock-name {
      flex-grow: 1;
      font-weight: bold;
      font-style: italic;
    }
    input[type="text"] {
      margin-top: -2px;
      height: 34px;
    }
    label {
      align-content: center;
    }
    select {
      width: 60px;
    }
    .clocks {
      position: relative;
      justify-content: center;
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      height: 76px;
      font-weight: normal;
    }
  }

  .clock-zero-label {
    color: color.$almost_black;
  }

  .clocks {
    &.clocks-4 {
      @include mixin.clock(4, 200);
    }
    &.clocks-5 {
      @include mixin.clock(5, 200);
    }
    &.clocks-6 {
      @include mixin.clock(6, 200);
    }
    &.clocks-8 {
      @include mixin.clock(8, 200);
    }
    &.clocks-10 {
      @include mixin.clock(10, 200);
    }
    &.clocks-12 {
      @include mixin.clock(12, 200);
    }
    &.clocks-16 {
      @include mixin.clock(16, 200);
    }
  }

  .sits-clock-name-type {
    > * {
      margin-bottom: 10px;
    }
    .sits-clock{
      margin: 10px auto;
    }
  }

}