// Colors
$lightgray: #bbb;
$darkgray: #666;
$gray: #999;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

$link_glow: #001fff;
$damage-color: #ff9c9c;

$main-bg: #010e38;
$main-fg: #dadada;
$header-bg: #9f9dfc;
$header-fg: #080808;
$playbook-bg: #14151a;
$playbook-fg: #dadada;


$input-bg: rgba(255,255,255,0.1);
$placeholder-fg: #b4937d;
$table-lines: rgba(255,255,255,0.1);

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;




// Utility imports
@import 'import/mixin';
@import 'fonts.scss';

select, textarea {
  font-family: "BarlowCondensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
select {
  height: 14px;
}

//namespacing to avoid conflicts with other modules
.synths-in-the-shadow{
  font-family: "BarlowCondensed", sans-serif;
  font-size: 14px;

  * {
    scrollbar-color: $header-bg transparent;
  }

  .window-content {
    background-color: $main-bg;
    color: $main-fg;
    background-image: url("assets/scanlines_bkg.png");
  }



  @import 'import/general-styles.scss';
  @import 'import/clocks.scss';

  &.unit.sheet{
    @import 'import/unit-sheet.scss';
  }

  .agent-sheet{
    @import 'import/agent-sheet.scss';
  }

  &.actor.clock{
  }

  &.item.sheet{
    @import 'import/item-sheet.scss';
  }
}

//top-level styles
@import 'import/chat.scss';
@import 'import/dialogs.scss';
