@use 'color';
@use 'mixin';
@use 'fonts';


@use 'general-styles';
@use 'clocks';
@use 'unit-sheet';
@use 'agent-sheet';
@use 'item-sheet';

@use 'chat';
@use 'dialogs';


// Utility imports


//namespacing to avoid conflicts with other modules
.synths-in-the-shadow{
  font-family: "BarlowCondensed", sans-serif;
  font-size: 14px;

  * {
    scrollbar-color: color.$header-bg transparent;
  }

  .window-content {
    background-color: color.$main-bg;
    color: color.$main-fg;
    background-image: url("assets/scanlines_bkg.png");
    overflow-y: auto;
  }

  select, textarea {
    font-family: "BarlowCondensed", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
}
