<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="agent-{{_id}}-header" class="flex-horizontal">

    <div class="portrait-area">
      <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" class="portrait" />

      <div class="underportrait">

        <a class="item-add-popup" data-distinct="true" data-item-type="unit">
          <div class="unit underportrait-line">
            <div class="box-title"><b>Unit</b></div>
                {{system.unit.name}}
          </div>
        </a>

        <a class="item-add-popup" data-distinct="true" data-item-type="playbook">
          <div class="playbook underportrait-line">
            <div class="box-title"><b>Playbook</b></div>
              {{#each items as |item id|}} {{#if (eq item.type "playbook")}}
                {{item.name}}
              {{/if}} {{/each}}
          </div>
        </a>
      </div>

    </div>

    <div id="description"> {{!-- MARK: Description --}}

      <div class="headline">
        <div class="headline-left">
          <input type="text" id="agent-{{_id}}-model" class="model" name="system.model" value="{{system.model}}" placeholder="[{{localize 'SITS.Model'}}]">
          <input type="text" id="agent-{{_id}}-pronouns" class="pronouns" name="system.pronouns" value="{{system.pronouns}}" placeholder="[{{localize 'SITS.Pronouns'}}]">
        </div>
        <input type="text" id="agent-{{_id}}-name" class="name" name="name" value="{{name}}" style="font-weight:bold">
      </div>
      <div class="lookline">
        <input type="text" id="agent-{{_id}}-look" class="look" name="system.look" value="{{system.look}}" placeholder="[{{localize 'SITS.LookPlaceholder'}}]">
      </div>

      <div id="agent-{{_id}}-traits" class="flex-column">

        <div class="traitsline">

          <a class="item-add-popup" data-distinct="true" data-item-type="maker">
            <div class="maker">
              <span class="box-title">{{localize "SITS.Maker"}}</span>
                <div class="fakeinput">
                  {{#each items as |item id|}} {{#if (eq item.type "maker")}}
                    {{item.name}}
                  {{/if}} {{/each}}
                </div>
            </div>
          </a>

          <div class="maker-detail detail">
            <span class="box-title">{{localize "SITS.Detail"}}</span>
            <input type="text" id="agent-{{_id}}-maker_details" class="maker_details" name="system.maker_details" value="{{system.maker_details}}">
          </div>

        </div>
        
        <div class="traitsline">
          <div class="build">
            <a class="item-add-popup" data-distinct="true" data-item-type="build">
              <span class="box-title">{{localize "SITS.Build"}}</span>
              <div class="fakeinput">
                {{#each items as |item id|}} {{#if (eq item.type "build")}}
                  {{item.name}}
                {{/if}} {{/each}}
              </div>
            </a>
          </div>
          
          <div class="build-detail detail">
            <span class="box-title">{{localize "SITS.Detail"}}</span>
            <input type="text" id="agent-{{_id}}-build_details" class="build_details" name="system.build_details" value="{{system.build_details}}">
          </div>
        </div>

        <div class="traitsline">
          <div class="deviance">
            <a class="item-add-popup" data-distinct="true" data-item-type="deviance">
              <span class="box-title">{{localize "SITS.Deviance"}}</span>
              <div class="fakeinput">
                {{#each items as |item id|}} {{#if (eq item.type "deviance")}}
                  {{item.name}}
                {{/if}} {{/each}}
              </div>
            </a>
          </div>
          
          <div class="deviance-detail detail">
            <span class="box-title">{{localize "SITS.Detail"}}</span>
            <input type="text" id="agent-{{_id}}-deviance_details" class="deviance_details" name="system.deviance_details" value="{{system.deviance_details}}">
          </div>
        </div>

      </div>
    </div> {{!-- end description --}}

  </section>

  <section class="flex-horizontal first-section-addendum">
    <textarea type="text" id="agent-{{_id}}-synopsis" class="synopsis" name="system.synopsis" placeholder="[{{localize 'SITS.SynopsisPlaceholder'}}]">{{system.synopsis}}</textarea>
  </section>

  <section class="flex-horizontal second-section">

    {{!-- MARK: OVER/MAL/COIN --}}
    <div id="agent-{{_id}}-overload-malfunction" class="section overload-malfunction">
    
      <div id="agent-{{_id}}-overload" class="overload">
        {{#multiboxes system.overload.value}}

          <input type="radio" id="agent-{{_id}}-overload-0" name="system.overload.value" value="0" dtype="Radio">
          <div class="black-label">{{localize "SITS.Overload"}}</div>

          {{#times_from 1 system.overload.max}}
            <input type="radio" id="agent-{{../_id}}-overload-{{this}}" name="system.overload.value" value="{{this}}" dtype="Radio">
            <label class="radio-toggle" for="agent-{{../_id}}-overload-{{this}}"></label>
          {{/times_from}}

        {{/multiboxes}}
      </div>

      <a class="item-add-popup" data-item-type="malfunction" data-tooltip="{{localize  'SITS.AddMalfunction'}}">
        <div id="agent-{{_id}}-malfunction-container" class="malfunction">
          {{#malfunctioncounter items}}

            <div class="black-label">{{localize 'SITS.Malfunction'}}</div>
            <input type="radio" id="agent-{{_id}}-malfunction-counter-0" name="system.malfunction.value" value="0">

            {{#times_from 1 system.malfunction.max}}
              <input type="radio" id="agent-{{../_id}}-malfunction-counter-{{this}}" name="system.malfunction.value" value="{{this}}" disabled>
              <label for="agent-{{../_id}}-malfunction-counter-{{this}}"></label>
            {{/times_from}}
            
          {{/malfunctioncounter}}
        </div>
      </a>

      <div class="energy_credits-header">
        <div>{{localize "SITS.Energy Credits"}}</div>
        <div>{{localize "SITS.Savings"}}</div>
      </div>

      <div id="agent-{{_id}}-energy_credits" class="energy_credits">

        <div id="agent-{{_id}}-on_hand" class="on_hand energy_credits-pips">
          {{#multiboxes system.energy_credits.on_hand}}
            <input type="radio" id="energy_credits-{{_id}}-on_hand-0" name="system.energy_credits.on_hand" value="0" checked="checked">
            {{#times_from 1 system.energy_credits.max_hand}}
              <input type="radio" id="energy_credits-{{../_id}}-on_hand-{{this}}" name="system.energy_credits.on_hand" value="{{this}}">
              <label class="radio-toggle" for="energy_credits-{{../_id}}-on_hand-{{this}}"></label>
              {{/times_from}}
            </span>
          {{/multiboxes}}
        </div>

        <div id="energy_credits-{{_id}}-energy_credits-savings" class="savings energy_credits-pips">
          {{#multiboxes system.energy_credits.savings}}
            <input type="radio" id="energy_credits-{{_id}}-savings-0" name="system.energy_credits.savings" value="0" checked="checked">
            {{#times_from 1 system.energy_credits.max_stash}}
              <input type="radio" id="energy_credits-{{../_id}}-savings-{{this}}" name="system.energy_credits.savings" value="{{this}}">
              <label class="radio-toggle" for="energy_credits-{{../_id}}-savings-{{this}}"></label>
            {{/times_from}}
          {{/multiboxes}} 
        </div>

      </div>

    </div> {{!-- End Overload/Malfunction/Coins --}}

    {{!-- MARK: Attributes --}}
    <div id="agent-{{_id}}-attributes" class="attributes">

      {{#each system.attributes as |attribute attribute_name|}}
        
        <div id="agent-{{../_id}}-attributes-{{attribute_name}}" class="attribute">
        
          <div id="agent-{{../_id}}-attributes-{{attribute_name}}-title" class="attributes-exp">
            <div class="stripe">
              <a class="attribute-label roll-die-attribute rollable-text" data-roll-attribute="{{attribute_name}}">
                {{localize attribute.label}}
              </a>
            </div>
            <div class="stripe-tooth-body">
              {{#multiboxes attribute.exp}}
                <input type="radio" id="{{../_id}}-{{attribute_name}}-exp-0"
                        name="system.attributes.{{attribute_name}}.exp" value="0" checked="checked">
                {{#times_from 1 attribute.exp_max}}
                  <input type="radio" id="{{../../_id}}-{{attribute_name}}-exp-{{this}}"
                          name="system.attributes.{{attribute_name}}.exp" value="{{this}}">
                  <label class="radio-toggle" for="{{../../_id}}-{{attribute_name}}-exp-{{this}}"></label>
                {{/times_from}}
              {{/multiboxes}}
            </div>
          </div>
    

          {{!-- Skills --}}
          {{#each attribute.skills as |skill skill_name|}}

            <div class="flex-horizontal">
              <div class="attributes-container">
                {{#multiboxes skill.value}}
                  <input {{#if (lteq 0 (oneless skill.min))}}disabled {{/if}}
                          type="radio" id="attributes-{{../../../_id}}-{{skill_name}}-0" data-dtype="Number"
                          name="system.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="0">
                  {{#times_from 1 skill.max}}
                    <input {{#if (lteq this (oneless skill.min))}}disabled {{/if}}
                            type="radio" id="attributes-{{../../../_id}}-{{skill_name}}-{{this}}" data-dtype="Number"
                            name="system.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="{{this}}">
                    <label {{#if (and (gt skill.min 0) (lteq this skill.min))}} data-tooltip="{{localize "BITD.DisabledByAE"}}"{{/if}}
                            {{#if (lteq this (oneless skill.min))}} style="filter: unset; opacity: unset; cursor: unset;"{{/if}}
                            class="radio-toggle" for="attributes-{{../../../_id}}-{{skill_name}}-{{this}}"></label>
                  {{/times_from}}
            
                  {{#if (eq skill.max 3)}}
                    <input type="radio" id="attributes-{{../../../_id}}-{{skill_name}}-{{this}}" data-dtype="Number"
                            name="system.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="{{this}}">
                    <label data-tooltip="{{localize "BITD.NoMastery"}}" class="no-mastery"></label>
                  {{/if}}

                  <div class="attribute-skill-label roll-die-attribute rollable-text" data-roll-attribute="{{skill_name}}">
                    {{localize skill.label}}
                  </div>
                {{/multiboxes}}
              </div>
            </div>
          {{/each}} {{!-- End each skill --}}
        </div>
      {{/each}} {{!-- End each attribute --}}
    </div>

  </section>

  {{!-- Damage, Repair and Armor --}}
  <section id="agent-{{_id}}-damage-armor" class="flex third-section">
    <div id="agent-{{_id}}-agent-damage" class="flex-horizontal damage-armor">
      <table>
        <thead>
          <th colspan="4">{{localize "SITS.Damage"}}</th>
          <th>{{localize "SITS.Repair"}}</th>
          <th>{{localize "SITS.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td colspan="2">
              <input type="text" id="agent-{{_id}}-damage-3-1" name="system.damage.heavy.one" value="{{system.damage.heavy.one}}">
            </td>
            <td>{{localize "SITS.MoreEffect"}}</td>
            <td rowspan="3">
              <div id="agent-{{_id}}-repair_clock" class="flex-horizontal-center repair_clock clocks-{{system.repair_clock.max}}">
                {{{sits-clock "system.repair_clock.value" system.repair_clock.max system.repair_clock.value _id}}}
              </div>
            </td>
            <td rowspan="3" id="agent-{{_id}}-armor_uses" class="armor_uses">
              <div>
                {{localize "SITS.Basic"}}
                <input id="agent-{{_id}}-armor_uses-basic" type="checkbox" name="system.armor_uses.basic" class="check" {{checked system.armor_uses.basic}}>
                <label for="agent-{{_id}}-armor_uses-basic" class="radio_toggle"></label>
              </div>
              <div>
                {{localize "SITS.Heavy"}}
                <input id="agent-{{_id}}-armor_uses-heavy" type="checkbox" name="system.armor_uses.heavy" class="check" {{checked system.armor_uses.heavy}}>
                <label for="agent-{{_id}}-armor_uses-heavy" class="radio_toggle"></label>
              </div>
              <div>
                {{localize "SITS.Special"}}
                <input id="agent-{{_id}}-armor_uses-special" type="checkbox" name="system.armor_uses.special" class="check" {{checked system.armor_uses.special}}>
                <label for="agent-{{_id}}-armor_uses-special" class="radio_toggle"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input type="text" id="agent-{{_id}}-damage-2-1" name="system.damage.medium.one" value="{{system.damage.medium.one}}">
            </td>
            <td>
              <input type="text" id="agent-{{_id}}-damage-2-2" name="system.damage.medium.two" value="{{system.damage.medium.two}}">
            </td>
            <td>{{localize "SITS.PlusOneDie"}}</td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input type="text" id="agent-{{_id}}-damage-1-1" name="system.damage.light.one" value="{{system.damage.light.one}}">
            </td>
            <td>
              <input type="text" id="agent-{{_id}}-damage-1-2" name="system.damage.light.two" value="{{system.damage.light.two}}">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>



    </div>
  </section>

 <section class="flex-horizontal fourth-section">

    <div class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="mainpage">{{localize "SITS.AbilitiesLoadoutContacts"}}</a>
        <a class="item" data-tab="agent-notes">{{localize "SITS.Notes"}}</a>
        {{#if isGM}}
          <a class="item" data-tab="effects">{{localize "SITS.Effects"}}</a>
        {{/if}}
        <a class="item" data-tab="all-agent-items">{{localize "SITS.AllItems"}}</a>
      </nav>



      <div id="actor-{{_id}}-abilities" class="tab flex-vertical abilities" data-tab="mainpage">
        <div class="label-stripe">
          <p><label for="actor-{{_id}}-experience-0">{{localize "BITD.Abilities"}}</label></p>
          <p><a class="item-add-popup" data-item-type="ability" data-tooltip="{{localize 'BITD.AddAbility'}}"><i class="fas fa-plus-square"></i></a></p>

            <div id="actor-{{_id}}-experience" class="teeth-experience">
              {{#multiboxes system.experience}}
              <input type="radio" id="agent-{{_id}}-experience-0" name="system.experience" value="0" dtype="Radio">
              {{#times_from 1 system.experience_max}}
              <input type="radio" id="agent-{{_id}}-experience-{{this}}" name="system.experience" value="{{this}}" dtype="Radio">
              <label class="radio-toggle" for="agent-{{_id}}-experience-{{this}}"></label>
              {{/times_from}}
              {{/multiboxes}}
          </div>
        </div>

        <div id="agent-{{_id}}-abilities-list">
          {{#each items as |item id|}}
          {{#if (eq item.type "ability")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <b><div class="item-name">{{item.name}}</div></b>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" data-tooltip="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" data-tooltip="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="ability">{{localize "BITD.AddAbility"}}</a></div>
        </div>
      

        {{!-- Contacts --}}
        <div class="label-stripe flex-horizontal">
          <p>{{localize "SITS.Contacts"}}</p>
          <p><a class="import-contacts" data-tooltip="{{localize 'BITD.ImportPlaybookContacts'}}"><i class="fa-solid fa-file-import"></i></a></p>
        </div>
        {{#if system.contacts}}
        {{#each system.contacts as |item id|}}
          <div class="item flex-horizontal" data-item-id="{{item.id}}" data-item-type="{{item.type}}">
            <div class="contact" data-contact="{{this.id}}">
              <i data-contact="{{this.id}}" class="standing-toggle fas
              {{#if (eq this.standing "friend" )}} fa-caret-up green-icon
              {{else if (eq this.standing "rival")}} fa-caret-down red-icon
              {{else}}fa-minus
              {{/if}}"></i>
              <class="standing-toggle"><a class="open-friend"><strong>{{this.name}}</strong></a>, {{this.description_short}}
            </div>
            <a class="contact-delete" data-tooltip="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
        {{/each}}
        {{/if}}
      </div>





    <div class="tab flex-vertical" data-tab="agent-notes">
      <div class="label-stripe">
        <p>{{localize "SITS.Notes"}}</p>
      </div>
      <textarea rows="13" name="system.description">{{{system.description}}}</textarea>
    </div>




   

      {{!-- Active Effects --}}
      <div id="agent-{{_id}}-effects" class="tab effects flex-vertical" data-tab="effects">
        <div class="label-stripe">
          <p>{{localize "SITS.Effects"}}</p>
        </div>
        {{> "systems/synths-in-the-shadow/templates/parts/active-effects.html"}}
      </div>

      {{!-- Full Item List --}}
      <div class="tab grow-two flex-vertical" data-tab="all-agent-items">
        {{#each items as |item id|}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24"/>
            <div class="item-name">{{item.name}}</div>
          </div>
          <a class="item-control item-delete" data-tooltip="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/each}}
        <div class="subhead-stripe">
          <p><label>{{localize "SITS.SpecialItems"}}</label></p>
        </div>
        {{#if system.unit.id}}
          <div class="item flex-horizontal" data-item-id="{{system.unit.id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <img src="{{system.unit.img}}" data-tooltip="{{system.unit.name}}" width="24" height="24"/>
            <div class="item-name">{{system.unit.name}}</div>
          </div>
          <a class="item-control unit-delete" data-tooltip="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </div>

    </div>

  </section>

</form>
