@charset "UTF-8";
/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg malfunction) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/Kirsty.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-Light.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik/Rubik-LightItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("assets/fonts/Barlow_Condensed/BarlowCondensed-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("assets/fonts/Barlow_Condensed/BarlowCondensed-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
.synths-in-the-shadow {
  font-family: "BarlowCondensed", sans-serif;
  font-size: 14px;
}
.synths-in-the-shadow textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
.synths-in-the-shadow .debug-toggle {
  opacity: 0.1;
}
.synths-in-the-shadow .debug-toggle.on {
  opacity: 0.75;
}
.synths-in-the-shadow .rollable-text {
  transition: color 0.2s;
}
.synths-in-the-shadow .rollable-text:hover {
  cursor: pointer;
  color: red;
}
.synths-in-the-shadow section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.synths-in-the-shadow section > *:not(.label-stripe) {
  margin-right: 10px;
}
.synths-in-the-shadow section > *:not(.label-stripe):last-child {
  margin-right: 0px;
}
.synths-in-the-shadow section .grow-one {
  flex-grow: 1;
}
.synths-in-the-shadow section .grow-two {
  flex-grow: 2;
}
.synths-in-the-shadow section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
.synths-in-the-shadow .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.synths-in-the-shadow .flex-horizontal-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.synths-in-the-shadow .flex-vertical {
  display: flex;
  flex-direction: column;
}
.synths-in-the-shadow .flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.synths-in-the-shadow .tab[data-tab] {
  display: none;
}
.synths-in-the-shadow .tab[data-tab].active {
  display: block;
}
.synths-in-the-shadow .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 18px;
  text-align: center;
  padding: 0px 5px;
  height: 30px;
  text-transform: capitalize;
  font-family: BarlowCondensed, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.synths-in-the-shadow .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 18px;
  text-align: center;
  padding: 0px 5px;
  height: 30px;
  text-transform: capitalize;
  font-family: BarlowCondensed, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.synths-in-the-shadow .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
.synths-in-the-shadow .label-stripe-gray {
  text-transform: uppercase;
  background-color: #999;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
.synths-in-the-shadow .editor,
.synths-in-the-shadow .editor-content {
  min-height: 150px;
}
.synths-in-the-shadow .description {
  font-style: italic;
}
.synths-in-the-shadow i.nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
.synths-in-the-shadow i.nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.synths-in-the-shadow .loadout select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
  padding: 0 20px 0 0;
  margin: 0.1em -6px 0 0;
  background-color: #191813;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: right;
}
.synths-in-the-shadow .loadout select option {
  color: white;
}
.synths-in-the-shadow .loadout select:hover {
  color: red;
}
.synths-in-the-shadow .abilities .item-name, .synths-in-the-shadow .loadout .item-name, .synths-in-the-shadow .faction-items .item-name {
  width: 100px;
  margin-left: 10px;
}
.synths-in-the-shadow .abilities .item-body, .synths-in-the-shadow .loadout .item-body, .synths-in-the-shadow .faction-items .item-body {
  width: auto;
}
.synths-in-the-shadow .abilities .item-description, .synths-in-the-shadow .loadout .item-description, .synths-in-the-shadow .faction-items .item-description {
  width: 260px;
}
.synths-in-the-shadow td {
  padding: 5px;
}
.synths-in-the-shadow {
  min-width: 420px;
  min-height: 320px;
}
.synths-in-the-shadow .clock-zero-label {
  color: #191813;
}
.synths-in-the-shadow .clocks.clocks-4 {
  position: relative;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
.synths-in-the-shadow .clocks.clocks-4 .sits-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
.synths-in-the-shadow .clocks.clocks-6 {
  position: relative;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(5) {
  transform: rotate(60deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(7) {
  transform: rotate(120deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(9) {
  transform: rotate(180deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(11) {
  transform: rotate(240deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-6 .sits-clock *:nth-child(13) {
  transform: rotate(300deg) skewY(150deg);
}
.synths-in-the-shadow .clocks.clocks-8 {
  position: relative;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(5) {
  transform: rotate(45deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(7) {
  transform: rotate(90deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(9) {
  transform: rotate(135deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(11) {
  transform: rotate(180deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(13) {
  transform: rotate(225deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(15) {
  transform: rotate(270deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-8 .sits-clock *:nth-child(17) {
  transform: rotate(315deg) skewY(135deg);
}
.synths-in-the-shadow .clocks.clocks-10 {
  position: relative;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(5) {
  transform: rotate(36deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(7) {
  transform: rotate(72deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(9) {
  transform: rotate(108deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(11) {
  transform: rotate(144deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(13) {
  transform: rotate(180deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(15) {
  transform: rotate(216deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(17) {
  transform: rotate(252deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(19) {
  transform: rotate(288deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-10 .sits-clock *:nth-child(21) {
  transform: rotate(324deg) skewY(126deg);
}
.synths-in-the-shadow .clocks.clocks-12 {
  position: relative;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(5) {
  transform: rotate(30deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(7) {
  transform: rotate(60deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(9) {
  transform: rotate(90deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(11) {
  transform: rotate(120deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(13) {
  transform: rotate(150deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(15) {
  transform: rotate(180deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(17) {
  transform: rotate(210deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(19) {
  transform: rotate(240deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(21) {
  transform: rotate(270deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(23) {
  transform: rotate(300deg) skewY(120deg);
}
.synths-in-the-shadow .clocks.clocks-12 .sits-clock *:nth-child(25) {
  transform: rotate(330deg) skewY(120deg);
}
.synths-in-the-shadow .sits-clock-name-type > * {
  margin-bottom: 10px;
}
.synths-in-the-shadow .sits-clock-name-type .sits-clock {
  margin: 10px auto;
}
.synths-in-the-shadow.unit.sheet .item {
  justify-content: space-between;
}
.synths-in-the-shadow.unit.sheet .item .item-body {
  margin-bottom: 10px;
}
.synths-in-the-shadow.unit.sheet .item .item-body * {
  margin-right: 10px;
}
.synths-in-the-shadow.unit.sheet .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
.synths-in-the-shadow.unit.sheet .item div {
  flex-grow: 2;
}
.synths-in-the-shadow.unit.sheet .item .item-control {
  flex-grow: 1;
}
.synths-in-the-shadow.unit.sheet .item .item-body,
.synths-in-the-shadow.unit.sheet .item .item-class-label {
  width: 100px;
}
.synths-in-the-shadow.unit.sheet .item-class-label {
  margin-bottom: 10px;
}
.synths-in-the-shadow.unit.sheet .name,
.synths-in-the-shadow.unit.sheet .lair {
  margin-bottom: 10px;
}
.synths-in-the-shadow.unit.sheet form.actor-sheet {
  padding: 20px;
}
.synths-in-the-shadow.unit.sheet nav {
  padding-bottom: 10px;
}
.synths-in-the-shadow.unit.sheet .unit-coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
  max-width: 72px;
}
.synths-in-the-shadow.unit.sheet .unit-coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.unit.sheet .unit-coins label[for$="-0"] {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .unit-coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .unit-coins input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .unit-coins input:checked ~ label {
  background-color: #EEEFFF;
}
.synths-in-the-shadow.unit.sheet .unit-coins input:checked + label {
  background-color: #DAA520;
}
.synths-in-the-shadow.unit.sheet .unit-coins label {
  margin-right: 3px;
  margin-bottom: 3px;
}
.synths-in-the-shadow.unit.sheet .unit-reputation {
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.unit.sheet .unit-reputation label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.unit.sheet .unit-reputation label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .unit-reputation label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.unit.sheet .unit-reputation label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.unit.sheet .unit-reputation label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .unit-reputation input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .unit-reputation input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
.synths-in-the-shadow.unit.sheet .unit-reputation input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
.synths-in-the-shadow.unit.sheet .unit-reputation input:disabled + label {
  background-image: url(assets/teeth/stresstooth-black.png);
}
.synths-in-the-shadow.unit.sheet .turf-container {
  overflow-x: scroll;
  overflow-y: clip;
}
.synths-in-the-shadow.unit.sheet .turf-list {
  display: flex;
  flex-direction: column;
  width: 855px;
}
.synths-in-the-shadow.unit.sheet .turf-list .turf-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.synths-in-the-shadow.unit.sheet .turf-list .turf-row *:first-child {
  margin-left: 0px;
}
.synths-in-the-shadow.unit.sheet .turf-list .turf-row *:last-child {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block {
  transition: filter 0.1s;
  cursor: pointer;
  width: 130px;
  height: 100px;
  background-color: #bbb;
  position: relative;
  margin: 20px;
  flex-grow: initial;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block.turf-selected .connector {
  background-color: #999;
  z-index: 1;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector {
  position: absolute;
  display: block;
  background-color: #bbb;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.right, .synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.left {
  width: 40px;
  height: 20px;
  top: 40px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.left {
  left: -40px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.right {
  left: 130px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.top, .synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.bottom {
  height: 40px;
  width: 20px;
  left: 55px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.top {
  top: -40px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .connector.bottom {
  top: 100px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block.turf-selected {
  background-color: #999;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .turf-description {
  border: none;
  background: none;
  resize: none;
  width: 130px;
  text-align: center;
  min-height: auto;
  font-size: 12px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .turf-name {
  border: none;
  border-radius: 0px;
  text-align: center;
  font-weight: bold;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block input[type=checkbox] {
  transform: scale(1);
}
.synths-in-the-shadow.unit.sheet .turf-list.section-non-editable .turf-block .turf-control.turf-select {
  position: absolute;
  top: -7px;
  left: -7px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block {
  transition: filter 0.1s;
  cursor: pointer;
  width: 130px;
  height: 125px;
  background-color: #bbb;
  position: relative;
  margin: 20px;
  flex-grow: initial;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block.turf-selected .connector {
  background-color: #999;
  z-index: 1;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector {
  position: absolute;
  display: block;
  background-color: #bbb;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.right, .synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.left {
  width: 40px;
  height: 25px;
  top: 50px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.left {
  left: -40px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.right {
  left: 130px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.top, .synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.bottom {
  height: 40px;
  width: 25px;
  left: 52.5px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.top {
  top: -40px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .connector.bottom {
  top: 125px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block.turf-selected {
  background-color: #999;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .turf-description {
  border: none;
  background: none;
  resize: none;
  width: 130px;
  text-align: center;
  min-height: auto;
  font-size: 12px;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .turf-name {
  border: none;
  border-radius: 0px;
  text-align: center;
  font-weight: bold;
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block input[type=checkbox] {
  transform: scale(1);
}
.synths-in-the-shadow.unit.sheet .turf-list.section-editable .turf-block .turf-control.turf-select {
  position: absolute;
  top: -7px;
  left: -7px;
}
.synths-in-the-shadow.unit.sheet .unit-hold {
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
  width: 221px;
}
.synths-in-the-shadow.unit.sheet .unit-hold label {
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.unit.sheet .unit-hold label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .unit-hold label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.synths-in-the-shadow.unit.sheet .unit-hold label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .unit-hold input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .unit-hold input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
.synths-in-the-shadow.unit.sheet .unit-tier {
  background-color: #999;
  height: 33px;
  width: 145px;
  display: flex;
  align-items: center;
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.unit.sheet .unit-tier label {
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.unit.sheet .unit-tier label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .unit-tier label:not([for$="-0"]) {
  height: 18px;
  width: 18px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 9px;
}
.synths-in-the-shadow.unit.sheet .unit-tier input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .unit-tier input:checked ~ label:not([for$="-0"]) {
  border-color: gray;
  background-color: #EEEFFF;
}
.synths-in-the-shadow.unit.sheet .unit-tier input:checked + label:not([for$="-0"]) {
  background-color: #191813;
  border-color: #191813;
}
.synths-in-the-shadow.unit.sheet .unit-tier > * {
  margin-right: 5px;
}
.synths-in-the-shadow.unit.sheet .heat-wanted .small-teeth {
  height: 20px;
}
.synths-in-the-shadow.unit.sheet .heat-wanted .small-teeth label {
  height: 100%;
  width: 100%;
  cursor: default;
}
.synths-in-the-shadow.unit.sheet .experience-clues-container {
  width: 340px;
  font-size: 12px;
}
.synths-in-the-shadow.unit.sheet .experience-clues-container .experience-clues-description {
  font-weight: bold;
}
.synths-in-the-shadow.unit.sheet .experience-clues-container .experience-clues {
  font-style: italic;
}
.synths-in-the-shadow.unit.sheet .edgeflaw input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .edgeflaw input:checked + label {
  color: red;
}
.synths-in-the-shadow.unit.sheet .gang-expert-type-selector .gang-type-boxes {
  flex-wrap: wrap;
}
.synths-in-the-shadow.unit.sheet .cohorts {
  flex-wrap: wrap;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-block-wrapper {
  width: 400px;
}
.synths-in-the-shadow.unit.sheet .cohorts .label-stripe {
  align-items: center;
  cursor: pointer;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.synths-in-the-shadow.unit.sheet .cohorts .item-control {
  flex-grow: 0;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-body img {
  border: 2px solid #191813;
  width: 1.75rem;
  height: 1.75rem;
  border-top: none;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-body > div {
  margin-bottom: 10px;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-block-harm {
  justify-content: space-around;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-block-harm input[type=radio] {
  display: none;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-block-harm input[type=radio]:checked + label {
  color: #EEEFFF;
  font-weight: bold;
  background-color: #191813;
}
.synths-in-the-shadow.unit.sheet .cohorts .cohort-block-harm label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  border: 2px solid #191813;
  border-top: none;
  border-left: none;
  padding: 0 5px;
  text-align: center;
}
.synths-in-the-shadow.unit.sheet .playbook-name {
  width: 512px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  text-transform: uppercase;
  border: 3px solid #191813;
}
.synths-in-the-shadow.unit.sheet .playbook-name .big-name {
  font-weight: bold;
  font-family: Kirsty, serif;
}
.synths-in-the-shadow.unit.sheet .playbook-name .big-description {
  font-size: 20px;
  font-family: "Crimson Text", serif;
  color: #191813;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section {
  border-top: 3px solid #191813;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  /* Malfunction */
}
.synths-in-the-shadow.unit.sheet .big-teeth-section > * {
  margin-right: 10px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section > *:last-child {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section:last-child {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth {
  display: flex;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: not-allowed;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list label {
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list label input {
  display: none;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list label input:checked ~ .checkmark {
  color: red;
}
.synths-in-the-shadow.unit.sheet .big-teeth-section .malfunction-list label .checkmark {
  text-decoration: none;
  font-weight: bold;
}
.synths-in-the-shadow.unit.sheet header {
  margin-bottom: 10px;
}
.synths-in-the-shadow.actor.agent {
  /*
  *  Elements that can be changed will hint this by dimming and fading a little on hover
  */
  /*
   * Toothradio. Some (eg malfunction) are not changeable, hence the option.
   */
  /*
   * Custom Radio
   */
  /*
   * Custom Radio Squared
   */
  /*
   * Checkboxes underscored.
   */
  /*
   * Create Clock
   */
  /*
   * Turf Block
   */
  /*
   * Toothradio single elements
   */
  /*
   * Custom Radio Round
   */
}
.synths-in-the-shadow.actor.agent * .first-section img.portrait {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
.synths-in-the-shadow.actor.agent * .tab[data-tab] {
  display: none;
}
.synths-in-the-shadow.actor.agent * .tab[data-tab].active {
  display: block;
}
.synths-in-the-shadow.actor.agent * form.actor-sheet {
  padding: 20px;
}
.synths-in-the-shadow.actor.agent * input {
  border: 0;
}
.synths-in-the-shadow.actor.agent * .underportrait {
  display: flex;
  flex-direction: column;
}
.synths-in-the-shadow.actor.agent * .underportrait-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.synths-in-the-shadow.actor.agent * .headline {
  display: flex;
}
.synths-in-the-shadow.actor.agent * .headline .headline-left {
  width: 255px;
  margin-right: 4px;
  text-align: right;
}
.synths-in-the-shadow.actor.agent * .headline input {
  height: 30px;
  font-size: 28px;
  margin-bottom: 4px;
}
.synths-in-the-shadow.actor.agent * .headline .name {
  font-size: 60px;
  height: 64px;
}
.synths-in-the-shadow.actor.agent * .lookline {
  display: flex;
}
.synths-in-the-shadow.actor.agent * .lookline input {
  height: 30px;
  font-size: 14px;
  margin-bottom: 4px;
}
.synths-in-the-shadow.actor.agent * .traitsline {
  display: flex;
}
.synths-in-the-shadow.actor.agent * .traitsline .fakeinput {
  width: 172px;
  height: 26px;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}
.synths-in-the-shadow.actor.agent * .traitsline .detail {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.synths-in-the-shadow.actor.agent * .synopsis {
  height: 64px;
  margin-top: 4px;
  margin-bottom: 0px;
  border: 0;
  font-family: BarlowCondensed;
}
.synths-in-the-shadow.actor.agent * .second-section {
  margin-bottom: 0px;
  margin-top: 10px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction {
  display: flex;
  flex-direction: column;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .black-label {
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload {
  display: flex;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload label {
  height: 30px;
  width: 15px;
  background-image: url("assets/pips/pip-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload label:hover {
  background-image: url("assets/pips/pip-red-hover.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload input:checked ~ label {
  background-image: url("assets/pips/pip-base.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload input:checked ~ label:hover {
  background-image: url("assets/pips/pip-base-hover.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload input:checked + label {
  background-image: url("assets/pips/pip-red.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .overload input:checked + label:hover {
  background-image: url("assets/pips/pip-red-hover.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction {
  display: flex;
  /* Hide the browser's default checkbox */
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction .black-label {
  height: 15px;
  font-size: 13px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction label {
  height: 15px;
  width: 45px;
  background-image: url("assets/pips/pipwide-orange.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: not-allowed;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction input:checked ~ label {
  background-image: url("assets/pips/pipwide-base.svg");
}
.synths-in-the-shadow.actor.agent * .overload-malfunction .malfunction input:checked + label {
  background-image: url("assets/pips/pipwide-orange.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-style: italic;
}
.synths-in-the-shadow.actor.agent * .energy_credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
  align-content: flex-start;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips label {
  height: 16px;
  width: 16px;
  background-image: url("assets/pips/ec-hot.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips label:hover {
  background-image: url("assets/pips/ec-hot-hover.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input:checked ~ label {
  background-image: url("assets/pips/ec-base.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input:checked ~ label:hover {
  background-image: url("assets/pips/ec-base-hover.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input:checked + label {
  background-image: url("assets/pips/ec-hot.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input:checked + label:hover {
  background-image: url("assets/pips/ec-hot-hover.svg");
}
.synths-in-the-shadow.actor.agent * .energy_credits .energy_credits-pips input ~ label {
  margin-right: 3px;
  margin-bottom: 3px;
}
.synths-in-the-shadow.actor.agent * .energy_credits .on_hand {
  width: 38px;
}
.synths-in-the-shadow.actor.agent * .energy_credits .savings {
  width: 152px;
}
.synths-in-the-shadow.actor.agent * .attributes {
  display: flex;
  flex-direction: row;
}
.synths-in-the-shadow.actor.agent * .attributes .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 18px;
  padding-left: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  font-style: italic;
}
.synths-in-the-shadow.actor.agent * .attributes .attribute {
  margin-right: 5px;
  width: 170px;
}
.synths-in-the-shadow.actor.agent * .attributes *:last-child {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .attributes .attribute-label,
.synths-in-the-shadow.actor.agent * .attributes .attribute-skill-label {
  font-weight: bold;
  text-transform: uppercase;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp {
  position: relative;
  margin-bottom: 10px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  right: 5px;
  top: 5px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body label {
  height: 20px;
  width: 10px;
  background-image: url("assets/pips/w-pip-blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body label:hover {
  background-image: url("assets/pips/w-pip-blue-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body input:checked ~ label {
  background-image: url("assets/pips/w-pip-base.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body input:checked ~ label:hover {
  background-image: url("assets/pips/w-pip-base-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body input:checked + label {
  background-image: url("assets/pips/w-pip-blue.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-exp .stripe-tooth-body input:checked + label:hover {
  background-image: url("assets/pips/w-pip-blue-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
  font-style: italic;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container label {
  height: 20px;
  width: 20px;
  background-image: url("assets/pips/skill-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container label:hover {
  background-image: url("assets/pips/skill-black-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container input:checked ~ label {
  background-image: url("assets/pips/skill-base.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container input:checked ~ label:hover {
  background-image: url("assets/pips/skill-base-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container input:checked + label {
  background-image: url("assets/pips/skill-black.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container input:checked + label:hover {
  background-image: url("assets/pips/skill-black-hover.svg");
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container * {
  margin-right: 5px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container *:last-child {
  margin-left: 8px;
}
.synths-in-the-shadow.actor.agent * .attributes .attributes-container .no-mastery {
  background-image: url("assets/pips/skill-off.svg") !important;
}
.synths-in-the-shadow.actor.agent * .damage-armor {
  display: flex;
  width: 100%;
}
.synths-in-the-shadow.actor.agent * .damage-armor table {
  width: 100%;
  background-color: transparent !important;
  border-bottom: 0px;
}
.synths-in-the-shadow.actor.agent * .damage-armor table thead {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 18px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}
.synths-in-the-shadow.actor.agent * .damage-armor table tbody:before {
  line-height: 4px;
  content: "‌";
  display: block;
}
.synths-in-the-shadow.actor.agent * .damage-armor table input[type=text] {
  width: 100%;
}
.synths-in-the-shadow.actor.agent * .damage-armor tr {
  background-color: transparent !important;
}
.synths-in-the-shadow.actor.agent * .damage-armor tr td:first-child {
  text-align: center;
  padding-left: 8px;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock {
  margin: 0 auto;
  position: relative;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock {
  position: relative;
  padding: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock input {
  position: absolute;
  display: none;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock input[value="0"] {
  display: none;
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
.synths-in-the-shadow.actor.agent * .damage-armor .repair_clock .sits-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
.synths-in-the-shadow.actor.agent * .damage-armor .armor_uses div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.synths-in-the-shadow.actor.agent * .tabs {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 18px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 4px;
}
.synths-in-the-shadow.actor.agent * .abilities .item-name, .synths-in-the-shadow.actor.agent * .loadout .item-name {
  width: 100px;
}
.synths-in-the-shadow.actor.agent * .abilities .item-body, .synths-in-the-shadow.actor.agent * .loadout .item-body {
  width: auto;
}
.synths-in-the-shadow.actor.agent * .abilities .item-description, .synths-in-the-shadow.actor.agent * .loadout .item-description {
  width: 260px;
}
.synths-in-the-shadow.actor.agent * .abilities .label-stripe p:first-child {
  margin-right: 10px;
}
.synths-in-the-shadow.actor.agent * .loadout .item-add-popup {
  margin-left: 10px;
}
.synths-in-the-shadow.actor.agent * .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
.synths-in-the-shadow.actor.agent * .teeth-experience label {
  height: 20px;
  width: 10px;
  background-image: url("assets/pips/w-pip-blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0px;
  cursor: pointer;
}
.synths-in-the-shadow.actor.agent * .teeth-experience label:last-of-type {
  margin-right: 0px;
}
.synths-in-the-shadow.actor.agent * .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.synths-in-the-shadow.actor.agent * .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
.synths-in-the-shadow.actor.agent * .teeth-experience label:hover {
  background-image: url("assets/pips/w-pip-blue-hover.svg");
}
.synths-in-the-shadow.actor.agent * .teeth-experience input {
  display: none;
}
.synths-in-the-shadow.actor.agent * .teeth-experience input:checked ~ label {
  background-image: url("assets/pips/w-pip-base.svg");
}
.synths-in-the-shadow.actor.agent * .teeth-experience input:checked ~ label:hover {
  background-image: url("assets/pips/w-pip-base-hover.svg");
}
.synths-in-the-shadow.actor.agent * .teeth-experience input:checked + label {
  background-image: url("assets/pips/w-pip-blue.svg");
}
.synths-in-the-shadow.actor.agent * .teeth-experience input:checked + label:hover {
  background-image: url("assets/pips/w-pip-blue-hover.svg");
}
.synths-in-the-shadow.actor.agent * .item {
  justify-content: space-between;
}
.synths-in-the-shadow.actor.agent * .item .item-body {
  margin-bottom: 10px;
}
.synths-in-the-shadow.actor.agent * .item .item-body * {
  margin-right: 10px;
}
.synths-in-the-shadow.actor.agent * .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
.synths-in-the-shadow.actor.agent * .item div {
  flex-grow: 2;
}
.synths-in-the-shadow.actor.agent * .item .item-control {
  flex-grow: 1;
}
.synths-in-the-shadow.actor.agent * .item .item-body,
.synths-in-the-shadow.actor.agent * .item .item-class-label {
  width: 100px;
}
.synths-in-the-shadow.actor.agent * .item-class-label {
  margin-bottom: 10px;
}
.synths-in-the-shadow.actor.agent * .name,
.synths-in-the-shadow.actor.agent * .lair,
.synths-in-the-shadow.actor.agent * .alias {
  margin-bottom: 10px;
}
.synths-in-the-shadow.item.sheet .item {
  justify-content: space-between;
}
.synths-in-the-shadow.item.sheet .item .item-body {
  margin-bottom: 10px;
}
.synths-in-the-shadow.item.sheet .item .item-body * {
  margin-right: 10px;
}
.synths-in-the-shadow.item.sheet .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
.synths-in-the-shadow.item.sheet .item div {
  flex-grow: 2;
}
.synths-in-the-shadow.item.sheet .item .item-control {
  flex-grow: 1;
}
.synths-in-the-shadow.item.sheet .item .item-body,
.synths-in-the-shadow.item.sheet .item .item-class-label {
  width: 100px;
}
.synths-in-the-shadow.item.sheet .item-class-label {
  margin-bottom: 10px;
}

.chat-label {
  background-color: #191813;
  font-family: Kirsty, serif;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}

.chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}

.label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}

.sits-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}
.sits-die-tooltip .die.critical-success {
  color: #12a012;
}
.sits-die-tooltip .die.success {
  color: #008000;
}
.sits-die-tooltip .die.partial-success {
  color: #04578f;
}
.sits-die-tooltip .die.failure {
  color: red;
}

.items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items-to-add input[type=radio],
.items-to-add input[type=checkbox] {
  display: none;
}
.items-to-add input[type=radio]:checked + label,
.items-to-add input[type=checkbox]:checked + label {
  font-weight: bold;
}
.items-to-add .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
.items-to-add .tooltip:hover .tooltiptext {
  visibility: visible;
}

/*# sourceMappingURL=sits.css.map */
