// Colors
$lightgray: #CCC;
$gray: #999;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;

// Imports
@import 'mixin.scss';


// MARK: Header

& * {
  .first-section {
    img.portrait{
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }

  .tab[data-tab]{
    display: none;
    &.active{
      display: block;
    }
  }

  form {
    &.actor-sheet {
      padding: 20px;
    }
  }

  input {
    border: 0;
  }

  .underportrait {
    display: flex;
    flex-direction: column;
  }
  
  .underportrait-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headline {
    display: flex;
    
    .headline-left {
      width: 255px;
      margin-right: 4px;
      text-align: right;
    }

    input {
      height: 30px;
      font-size: 28px;
      margin-bottom: 4px;
    }
    
    .name {
      font-size: 60px;
      height: 64px;
    }
  }

  .lookline {
    display: flex;
    
    input {
      height: 30px;
      font-size: 14px;
      margin-bottom: 4px;
    }
    
  }

  .traitsline {
    display: flex;
  

    .fakeinput {
      width:172px;
      height: 26px;
      margin-right:4px;
      background-color: rgba(0,0,0,0.05);
      font-weight: bold;
      display:flex;
      flex-direction: row;
      align-items: center;
      padding: 4px;
    }

    .detail {
      display:flex;
      flex-direction: column;
      flex-grow:2
    }
  }

  .synopsis {
    height: 64px;
    margin-top:4px;
    margin-bottom:0px;
    border:0;
    font-family: BarlowCondensed;
  }

  .second-section {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  // MARK:Overload and Trauma

  .overload-malfunction {

    display: flex;
    flex-direction: column;

    .black-label {
      width:66px;
      display:flex;
      align-items: center;
      justify-content: flex-end;
    }

    // Overload
    .overload {
      @include pipradio_hover(15px, 30px, "assets/pips/pip-base.svg", "assets/pips/pip-red.svg", "assets/pips/pip-base-hover.svg", "assets/pips/pip-red-hover.svg");
    }

    // Trauma 
    .malfunction {
      .black-label {
        height: 15px;
        font-size: 13px;
      }
      @include pipradio(45px, 15px, "assets/pips/pipwide-base.svg", "assets/pips/pipwide-orange.svg", false);
    }

  }


  // MARK: Coins

  $coin_size: 16px;
  $coin_margin: 3px;
  
  .ec-header {
    display: flex;
    justify-content: space-between;
  }

  .coins {
    @include pipradio_hover($coin_size, $coin_size, "assets/pips/ec-base.svg", "assets/pips/ec-hot.svg", "assets/pips/ec-base-hover.svg", "assets/pips/ec-hot-hover.svg");
    flex-wrap: wrap;
  
    input ~ label {
      margin-right: $coin_margin;
      margin-bottom: $coin_margin;
  
      &[for$="0"] {
        border-width: 2px;
      }
  
      @include changeable($transition-period, $hover-brightness, $hover-opacity);
    }
  
    &.coins-hands {
      width: 38px;
    }
  
    &.coins-stashed {
      width: 190px;
    }
  
  }


  // MARK: Attributes

  .attributes {

    display: flex;
    flex-direction: row;

    .stripe {
      background-color: $almost_black;
      color: $almost_white;
      font-size: 18px;
      padding-left: 5px;
      height: 30px;
      display: flex;
      align-items: center;
      font-style: italic;
    }

    .attribute {
      margin-right:5px;
      width: 170px;
    }

    *:last-child {
      margin-right: 0px;
    }

    .attribute-label,
    .attribute-skill-label {
      font-weight: bold;
      text-transform: uppercase;
    }
    .attributes-exp {

      position: relative;
      margin-bottom: 10px;

      .stripe-tooth-body {
        @include pipradio_hover(10px, 20px, "assets/pips/w-pip-base.svg", "assets/pips/w-pip-blue.svg", "assets/pips/w-pip-base-hover.svg", "assets/pips/w-pip-blue-hover.svg");
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }

    .attributes-container {
      display: flex;
      margin: 3px 0px;
      @include pipradio_hover(20px, 20px, "assets/pips/skill-base.svg", "assets/pips/skill-black.svg", "assets/pips/skill-base-hover.svg", "assets/pips/skill-black-hover.svg");
      font-style:italic;
      * {
        margin-right: 5px;
      }
      *:last-child {
        margin-left: 8px;
      }
      .no-mastery {
        background-image: url("assets/pips/skill-off.svg") !important;
      }
    }
  }




  //Abilitiers and loadout
  .abilities, .loadout {
    .item-name {
      width: 100px;
    }
    .item-body {
      width: auto;
    }
    .item-description {
      width: 260px;
    }
  }

  // Abilities
  .abilities {
    .label-stripe {
      p:first-child {
        margin-right: 10px;
      }
    }
  }

  // Loadout
  .loadout {
    .item-add-popup {
      margin-left: 10px;
    }
  }

  // Experience teeth
  .teeth-experience {
    @include pipradio_hover(10px, 20px, "assets/pips/w-pip-base.svg", "assets/pips/w-pip-blue.svg", "assets/pips/w-pip-base-hover.svg", "assets/pips/w-pip-blue-hover.svg");
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .harm-armor {

    display: flex;

    // Harm
    .character-harm {

      width: 100%;

      table {
        width: 100%;

        th {
          background-color: $almost_black;
          color: $almost_white;
        }

        input[type="text"] {
          width: 100%;
        }
      }
    }

    // Clock
    .character-health-clock {
      margin: 0 auto;
      @include clock(4, 88);
    }

    .character-armor-uses {

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }


 

  // ITEM
  .item {

    justify-content: space-between;

    .item-body {

      margin-bottom: 10px;
      * {
        margin-right: 10px;
      }

      .item-description {
        font-style: italic;
        text-align: justify;
      }
    }

    div {
      flex-grow: 2;
    }
    .item-control {
      flex-grow: 1;
    }
    .item-body,
    .item-class-label {
      width: 100px;
    }
  }

  .item-class-label {
    margin-bottom: 10px;
  }

  .name,
  .lair,
  .alias {
    margin-bottom: 10px;
  }

}
