// Add Items modal styling.
.items-to-add {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;

    &:checked + label {
      font-weight: bold;
    }
  }

 //Tooltip.
  .tooltip {

    .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: $almost_black;
      color: $almost_white;
      text-align: center;
      padding: 5px;
      border-radius: 6px;

      // Position
      position: absolute;
      z-index: 9999;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}

.dialog {
  .window-content {
    background-color: $main-bg;
    color: $main-fg;
    background-image: url("assets/scanlines_bkg.png");

    .dialog-buttons button {
      background-color: $header-bg;
      color: $header-fg;
      border: 2px groove $header-bg;
    }
  }


  .flex-horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .malfunction-checklist {
    display: flex;
    flex-direction: column;
  }

  .malfunction-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
